{% extends 'global/base.html' %}

{% block title %}Register| {% endblock title %}

{% block content %}
    <div class="center container main-content">
        <h2>Register</h2>
        {% if request.user.is_authenticated %}
            <div>
                Você esta logado com {{ request.user.username }}. Para sair 
                <form action="{% url 'autores:logout' %}" method="POST">
                    <input type="hidden" name="username" value="{{ request.user.username }}">
                    <button type="submit">clique aqui</button>
                </form>.
            </div>
        {% endif %}
    </div>
    <div class="main-content container">
        <form action="{{ form_action }}" method="POST">
            {% csrf_token %}
            <div class="form-content form-content-grid">
                {% for field in form  %}
                    <div class="form-group">
                        {% if field.help_text %}
                            <p class="help-text"> {{ field.help_text }} </p>
                        {% endif %}
                        <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
                        <p>{{ field }}</p>
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <button class"" type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock content %}