{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include 'receitas/partials/head.html' %}
    <title> {% block title %}Home|{% endblock title %}Receitas</title>

</head>

<body>
    {% include 'receitas/partials/header.html' %}
    {% include 'receitas/partials/search.html' %}

    <main class="main-content-container">
        {% include 'receitas/partials/messages.html' %}
        {% block content %}{% endblock content %}
        {% include 'receitas/partials/pagination.html' %}
    </main>
    {% include 'receitas/partials/footer.html' %}
    <script src="{% static 'global/src/index.js' %}"></script>
</body>
</html>
